
body
{
    background: url("../components/background.png") no-repeat center center fixed;
    background-size: cover;
}



.thumbImg1
{

    background-color: white;
    border-radius: 5px ;
    border: 1px solid red;
}

.thumbImg2
{

}



.container .container-fluid .row
{
    margin-bottom: 0;
}

.container-fluid
{
    background-color: white;
}

.logo {
    height: 100px;
    background-color: #4EC4AC;
    color: #ffffff;
}

.topDiv {
    background-color: #4EC4AC;
    height: 100px;
    display: block;

    padding-top: 5px;
}

.mypanel {
    height: 100%;
    display: inline-block;
    width: 200px;
    background-color: inherit;
    border: 0;
    color: white;
    font-size: large;
}

.mypanelActive {
    background-color: #EEF1F4;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.addcourse {
    height: 100%;
    display: inline-block;
    width: 200px;
    background-color: inherit;
    border: 0;
    color: white;
    font-size: large;
}

.contentAll {
    padding: 0;
}

/*Container styles*/

.content {
    margin: 10px;
}



.thumbnail {
    margin: 10px;
    background-color: #F6F8F9;
}

.img-thumbnail
{
    width: 100%;
    overflow:auto;
}

.buttonDelete {
    background-color: rgba(0, 0, 0, 0.52);
    color: #ffffff;
    width: 30px;
    height: 30px;
    border: 0;

    display: inline-block;
    position: relative;
    top: 4px;
}



textarea
{
    width: 100%;
}



.colorSelect
{
    background-color: #1b6d85;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-appearance: none;
    float: right;
    position: relative;
    top: -40px;
}

.yellowoption
{
 background-color: darkkhaki;
}

.redoption
{
    background-color: darkred ;
}

.greenoption
{
    background-color: darkgreen ;
}

.blueoption
{
    background-color: darkblue ;
}
.nav-tabs > li > a {
    width: 200px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: gray;
}
.nav-tabs > li.active > a {
    border-top: 2px solid darkgreen;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.nav-tabs > li.active > a:hover {
    border-top: 2px solid darkgreen;
}

.tab-content {
    /**/
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}





/*workspace styles*/


.selectType:hover
{
    box-shadow: 1px 1px 5px 1px black;

}

.selectType
{
    background-color: #fff;
    width: 100%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-size: large;
}


.checkboxposition
{
    top: 40px;
    position: absolute;
    left: 70px;
}




.selectTypeMedium
{
    font-size: small;
}

.row
{
    margin-bottom: 20px;
}


.fisrtRow
{
    left: 10px;
    margin: 10px;
}


.buttons
{
    text-align: center;
}

.btnNext
{
    border:0;
    background-color: #4F9DCE;
    color:white;
    margin: 10px;
    padding: 10px;
    width: 100px;

}





/* Sidebar Styles */

.sidebar {
    background-color: #2F3B4C;
    padding: 0;
    position: relative;
    min-height: 100%;
}

ul {

}

.sidebar li {

    height: 100px;
    width: 100%;
    list-style-type: none;
    text-align: center;

}


.imgCurses {
    background-position: 0 -50px;
    height: 50px;

}

.test
{
    color: white;
}

.sidebar a {
    text-decoration: none;
    text-align: center;
    height: 100px;
    padding: 20%;
    color: #fff;
    vertical-align: middle;
    line-height: 6;
}

.btn span.glyphicon {
    opacity: 0;
}
.btn.active span.glyphicon {
    opacity: 1;
}



.btn-upload
{
    position: absolute;
    right: 30px;
    top: 120px;
}



.uploadHeader
{
    color: #2aabd2;
}

.activeTab
{
    background-color: white;
}


.opradio::before {
    width: 27px;
    height: 27px;
    background-color: #fff;
    left: -35px;
    box-sizing: border-box;
    border: 3px solid transparent;
    transition: border-color .2s;
}


.icons
{
    height: 1px;
    padding: 20px;

}


.sidebar li:hover
{

    background: cornflowerblue;

}

.icons a {
    width: 40px;
    height: 40px;
    /* вызов спрайта и задание размеров */

    background-size:  40px 40px;

}

.icons .courses { background: url('../image/1.png') no-repeat;}
.icons .workspace { background: url('../image/2.png') no-repeat;}
.icons .users { background: url('../image/3.png') no-repeat;}
.icons .departaments { background: url('../image/4.png') no-repeat;}
.icons .myuploads { background: url('../image/5.png') no-repeat;}
.icons .mobileuploads { background: url('../image/6.png') no-repeat;}
.icons .activity { background: url('../image/7.png') no-repeat;}
.icons .settings { background: url('../image/7.png') no-repeat;}
