<div ng-controller="">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Construction items</a></li>
        <li><a data-toggle="tab" href="#menu1">Public items</a></li>
        <li><a data-toggle="tab" href="#menu2">Intern items</a></li>
        <li><a data-toggle="tab" href="#menu3">Deletion items</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active activeTab">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail ">



                        <img src="/components/resource-default.png" alt="resources" class="img-thumbnail">
                        <div class="caption">
                            <h3> Text </h3>
                            <p>Option</p>
                            <div class="form-group">
                                <select class="form-control colorSelect">
                                    <option value="yellow" class="yellowoption">red</option>
                                    <option value="red" class="redoption">red</option>
                                    <option value="green" class="greenoption">green</option>
                                    <option value="blue" class="blueoption">blue</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail ">



                        <img src="/components/resource-default.png" alt="resources" class="img-thumbnail">
                        <div class="caption">
                            <h3> Text </h3>
                            <p>Option</p>
                            <div class="form-group">
                                <select class="form-control colorSelect">
                                    <option value="yellow" class="yellowoption">red</option>
                                    <option value="red" class="redoption">red</option>
                                    <option value="green" class="greenoption">green</option>
                                    <option value="blue" class="blueoption">blue</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail ">



                        <img src="/components/resource-default.png" alt="resources" class="img-thumbnail">
                        <div class="caption">
                            <h3> Text </h3>
                            <p>Option</p>
                            <div class="form-group">
                                <select class="form-control colorSelect">
                                    <option value="yellow" class="yellowoption">red</option>
                                    <option value="red" class="redoption">red</option>
                                    <option value="green" class="greenoption">green</option>
                                    <option value="blue" class="blueoption">blue</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail ">



                        <img src="/components/resource-default.png" alt="resources" class="img-thumbnail">
                        <div class="caption">
                            <h3> Text </h3>
                            <p>Option</p>
                            <div class="form-group">
                                <select class="form-control colorSelect">
                                    <option value="yellow" class="yellowoption">red</option>
                                    <option value="red" class="redoption">red</option>
                                    <option value="green" class="greenoption">green</option>
                                    <option value="blue" class="blueoption">blue</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail ">



                        <img src="/components/resource-default.png" alt="resources" class="img-thumbnail">
                        <div class="caption">
                            <h3> Text </h3>
                            <p>Option</p>
                            <div class="form-group">
                                <select class="form-control colorSelect">
                                    <option value="yellow" class="yellowoption">red</option>
                                    <option value="red" class="redoption">red</option>
                                    <option value="green" class="greenoption">green</option>
                                    <option value="blue" class="blueoption">blue</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div id="menu1" class="tab-pane fade">
            <h3>Public items</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Intern items</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Deletion items</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>

</div>