
<form name="firstForm" action="{{actionUrl1}}">
    <div>

        <div class="row fisrtRow">
            <div class="col-xs-12 col-sm-6 col-md-1">
                <div class="selectType">
                    1
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="selectType" id="selecttype">Select Type</div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="selectType selectTypeMedium">Outdoor
                        <div class="checkboxposition">
                            <input type="radio" name="r1" class="optradio" ng-model="item.color" value="red" >
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="selectType selectTypeMedium">Science
                        <div class="checkboxposition">
                            <input type="radio" name="r1" class="optradio" ng-model="item.color" value="purple">
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="selectType selectTypeMedium">Relations
                        <div class="checkboxposition">
                            <input type="radio" name="r1" class="optradio" ng-model="item.color" value="yellow">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="selectType selectTypeMedium">New theme
                        <div class="checkboxposition">
                            <input type="radio" name="r1" class="optradio" ng-model="item.color" value="khaki">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="selectType selectTypeMedium">Public theme
                        <div class="checkboxposition">
                            <input type="radio" name="r1" class="optradio" ng-model="item.color" value="green">
                        </div>
                    </div>
                </div>

            </div>


        </div>


        <div class="row fisrtRow">
            <div class="col-xs-12 col-sm-6 col-md-1">
                <div class="selectType">2</div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="selectType">Short Synopsis</div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="selectType selectTypeMedium">Who?</div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="selectType selectTypeMedium">Why?</div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="selectType selectTypeMedium">What?</div>
                </div>

            </div>


        </div>


        <div class="row fisrtRow">
            <div class="col-xs-12 col-sm-6 col-md-1">
                <div class="selectType">3</div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="selectType ">The Four D's</div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="selectType  selectTypeMedium">Fase 1</div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="selectType selectTypeMedium">Fase 2</div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="selectType selectTypeMedium">Fase 3</div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="selectType selectTypeMedium"> Fase 4</div>
                </div>

            </div>

        </div>


        <div class="row fisrtRow">
            <div class="col-xs-12 col-sm-6 col-md-1">
                <div class="selectType">4</div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="selectType">Insert Recordings</div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="selectType selectTypeMedium">Sound</div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="selectType selectTypeMedium">Video</div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="selectType selectTypeMedium">Pictures</div>
                </div>

            </div>


        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 buttons " style="text-align: center">
                <button class="btn btn-info" type="submit" ng-click="save1(item)" id="btnNext"  onclick="check()"> Next</button>

            </div>
        </div>
    </div>
</form>
