<form name="thirdForm" action="{{actionUrl3}}">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: center">
            <h1> Fase 1: Discover</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4" style="text-align: center">
            <h1> Fase 1: Discover</h1>
        </div>


        <div class="col-xs-12 col-sm-8 col-md-8" style="text-align: center; border-left: 1px solid gray">

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4" style="text-align: center">
                    PURPOSE GOAL
                </div>

                <div class="col-xs-12 col-sm-8 col-md-8" style="text-align: center">
                <textarea name="tx1" cols="30" rows="4" class="form-control" placeholder=""
                          ng-minlength="3" ng-maxlength="50" ng-model="item.purposegoal" required></textarea>
                </div>

            </div>

            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4" style="text-align: center">
                    LEARNING CONTENT
                </div>

                <div class="col-xs-12 col-sm-8 col-md-8" style="text-align: center">
                <textarea name="tx1" cols="30" rows="4" class="form-control" placeholder=""
                          ng-minlength="3" ng-maxlength="50" ng-model="item.learningcontent" required></textarea>
                </div>

            </div>

            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4" style="text-align: center">
                    ACTIVITES
                </div>

                <div class="col-xs-12 col-sm-8 col-md-8" style="text-align: center">
                <textarea name="tx1" cols="30" rows="4" class="form-control" placeholder=""
                          ng-minlength="3" ng-maxlength="50" ng-model="item.activities" required></textarea>
                </div>

            </div>

            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4" style="text-align: center">
                    LEARNING COURSES
                </div>

                <div class="col-xs-12 col-sm-8 col-md-8" style="text-align: center">
                <textarea name="tx1" cols="30" rows="4" class="form-control" placeholder=""
                          ng-minlength="3" ng-maxlength="50" ng-model="item.learningcourses" required></textarea>
                </div>

            </div>

            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4" style="text-align: center">
                    LEARNING GOALS
                </div>

                <div class="col-xs-12 col-sm-8 col-md-8" style="text-align: center">
                <textarea name="tx1" cols="30" rows="4" class="form-control" placeholder=""
                          ng-minlength="3" ng-maxlength="50" ng-model="item.learninggoals" required></textarea>
                </div>

            </div>


        </div>

        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 buttons ">
                <button class="btn btn-info" type="submit" ng-click="save3(item)">Save</button>
                <a href="#!/workspace" class="btn btn-info">Cancel</a>
            </div>
        </div>
    </div>
</form>