<form name="fourForm" action="{{actionUrl4}}">
    <div class=" row" style="margin:10px;">
        <button class="btn btn-info btn-upload" data-toggle="modal" data-target="#myModal"> Upload</button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Close</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- End content-->

            </div>
        </div>
        <!-- End Modal-->
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="">My Resourses</a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active activeTab">
                <div class="row" style="margin-left:10px;">
                    <div class="upload">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <img src="../../components/resource-default.png" alt="resource default" class="uploadImg">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7">
                            <div class="description">
                                <div class="uploadHeader">
                                    SampleVideo.mp4
                                </div>

                                <div class="uploadCreated">
                                    <span style="font-weight: 600">Created:</span> Aug 23, 2016 5:16 PM <br>
                                    <span style="font-weight: 600">Size:</span> 1.07 Mb

                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <input type="checkbox">
                            <button class="btn btn-danger">X</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 buttons ">
            <button class="btn btn-info"  type="submit" ng-click="save4(item)" >Save</button>
            <a href="#!/workspace3" class="btn btn-info">Cancel</a>
        </div>
    </div>
</form>