<form name="secondForm" action="{{actionUrl2}}">
    <div class="row">
        <div class="topMenu">
            <div class="col-xs-12 col-sm-2 col-md-3">
                <h3>
                    2. Write Outline
                </h3>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6">
                <div class="form-group">
                    <input id="title" class="form-control" type="text" style="display: block; margin: 2px" placeholder="Edit Title"
                           ng-minlength="3" ng-maxlength="50" ng-model="item.title"  required>
                    <input id="subtitle" class="form-control" type="text" style="display: block; margin: 2px" placeholder="Edit Subtitle"
                           ng-minlength="3" ng-maxlength="50"  ng-model="item.subtitle"  required>
                </div>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-3" style="text-align: center">
                <h3>
                    # Outdoor
                </h3>
            </div>


        </div>

    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
                <textarea  id="tx1" cols="30" rows="10" class="form-control"  ng-model="item.who"  required placeholder="WHO?

7th grade

Public school in Dillund">{{who}}</textarea>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
            <textarea id="tx2" cols="30" rows="10" class="form-control"  ng-model="item.why"  required placeholder="WHY?

The students are going to learn about:">
                {{
                why}}
            </textarea>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
            <textarea id="tx3" cols="30" rows="10" class="form-control"  ng-model="item.what"  required placeholder="WHAT?

What are they going  to do?"></textarea>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 buttons ">
            <button class="btn btn-info"  type="submit" ng-click="save2(item)" >Save</button>
            <a href="#!/workspace" class="btn btn-info">Cancel</a>
        </div>
    </div>
</form>